.products__section{
    background: linear-gradient(90deg, $color-quinary 75%, $color-quaternary 25%);
    opacity: 1;
    margin: 0;
    display: flex;
    justify-content: center;
    
    .products__img{
        background-image: url(../../assets/productsimg.jpg);
        margin: 11.2rem 20rem 10.4rem 20rem;
        height: 55.2rem;
        width: 96.6rem;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        @include breakpoint("tablet"){
            height: 60%;
            width: 60%;
            margin: 0;
        }
    }
    .carousel{
        @include breakpoint("tablet"){
            size: 80%;
        }
        .carousel-item{
            margin-top: 24.8rem;
            margin-left: 49.5rem;
            width: 47.1rem;
            height: 30.4rem;
            // background: transparent 0% 0% no-repeat padding-box;
            opacity: 1;
        }
        .carousel-control-next,.carousel-control-prev{
            top: 90%;
            bottom: 0;
            right: 0;
            opacity: 1;
            margin-bottom: 2rem;
        }
        .carousel-control-prev{
            right: 4rem;
            left: auto;
            
        }
        .carousel-control-prev-icon,.carousel-control-next-icon{
            width: 2.2rem;
            height: 2.2rem;
        }
        .carousel-control-next-icon{
            background: url(../../assets/ProductFlechaDerecha.svg);
        }
        .carousel-control-prev-icon{
            background: url(../../assets/ProductFlechaIzquierda.svg);
        }
        .carousel-caption{
            left:0rem;
            padding-top: 0rem;
            text-align: left;
            margin-bottom: 0;
            h3{
                padding: 0;
                margin-bottom: 0;
                font-family: $font-secondary;
                color: $color-primary;
                font-size: 1.6rem;
                letter-spacing: 0.022rem;
                line-height: 2.1rem;
                margin-left: 5rem;
            }
            h2{
                margin-bottom: 2rem;
                font-family: $font-primary;
                color: $color-primary;
                font-size: 3.9rem;
                letter-spacing: 0.055rem;
                line-height: 5.9rem;
                margin-left: 5rem;
            }
            p{
                font-size: 1.4rem;
                letter-spacing: 0.022rem;
                line-height: 2.1rem;
                color: $color-primary;
                margin: 0 0 6.35rem 5rem;
            }
        }
    }
}

.product__item1{
    background: $color-secondary 0% 0% no-repeat padding-box;
}
.product__item2{
    background: green 0% 0% no-repeat padding-box;
}