.section_home{

    .carousel{
        @include breakpoint("tablet"){
            width: 100rem;
        }
        @include breakpoint("mobile"){
            width: 57.5rem;
        }
    
        position: relative;
        img{
            background-repeat: no-repeat;
            width: 100%;

        }
        .carousel-indicators {
            position: absolute;
            margin-left: 10.1rem;
            right: auto;
            bottom: 13.6rem;
            @include breakpoint("desktop"){
                bottom: 0;
            }
            @include breakpoint("tablet"){
                bottom: 0;
            }

            button{
                margin: 5px 5px;
                width: 1.2rem;
                height: 1.2rem;
                color: transparent;
                background-color: $color-primary;
                opacity: 0.4;
                border-radius: 5rem;
                border-top: none;
                border-bottom: none;
                &.active{
                    background-color: $color-secondary;
                    opacity: 1;
                }
            }
        }
        .carousel-caption{
            left: 10.1rem;
            top: 30%;
            margin-top: 0;
            text-align: left;
            .btn{
                padding-top: 11px;
                margin-top: 2rem;
            }
        }
    }
}

.hero__carousel--div{
    display: flex;
    flex-direction: column;
}

.hero__h1{
    font-size: 4.8rem;
    margin-bottom: 0;
    color: $color-primary;
    font-family: $font-secondary;
    letter-spacing: 0.067rem;
    line-height: 5rem;
    @include breakpoint("tablet"){
        width: 60%;
    }
    @include breakpoint("mobile"){
        font-size: 2rem;
        line-height: 2rem;
    }

}
.hero__p{
    font-size: 1.6rem;
    margin-bottom: 0;
    margin-top: 3.0rem;
    color: $color-primary;
    font-family: $font-primary;
    letter-spacing: 0.022rem;
    @include breakpoint("tablet"){
        width: 60%;
    }
    @include breakpoint("mobile"){
        font-size: 1.2rem;
        width: 40%;
    }
}

.hero__button{
    background-color: $color-secondary;
    color: $color-primary;
    font-family: $font-primary;
    font-size: 1.6rem;
    margin-top: 3.9rem;
    border-radius: 2.5rem;
    padding: 1.4rem 3.2rem;
    border-style: none;
    @include breakpoint("tablet"){
        margin-left: 7rem;
    }
    @include breakpoint("mobile"){
        margin-top: 1rem;
        font-size: 1rem;
        border-radius: 2.5rem;
        padding: 1rem 2.3rem;
    }
}