.footer{
    background-color: $color-tertiary;
    display: flex;
    justify-content: space-between;
}

.footer__text{
    p{
        margin: 0;
    }
    font-family: $font-primary;
    font-size: 1.6rem;
    text-align: left;
    letter-spacing: 0.22px;
    color: $color-quaternary;
    opacity: 1;
    margin: 3.8rem 0 3.7rem 10.1rem;
    @include breakpoint("tablet"){
        margin-top: 4rem;
        margin-left: 4rem;
    }
}

.footer__img{
    margin: 3.8rem 10.1rem 3.8rem 0;
}