@mixin header-hr{
    border-style: solid;
    margin: 0%;
    opacity: 1;
    color: $color-secondary;
}

@mixin title-about{
    font-family: $font-secondary;
    font-size: 3.9rem;
    text-align: left;
    letter-spacing: 0.055rem;
    opacity: 1;
}