$color-primary: #FFFFFF;
$color-secondary: #DF153A;
$color-tertiary: #343434;
$color-quaternary: #DCE1DA;
$color-quinary: #F2F4F1;
// React bootstrap para acordeon
// $primary: #E0752F;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Poppins', sans-serif;