$color-primary: #FFFFFF;
$color-secondary: #E0752F;
$color-tertiary: #343434;
$color-quaternary: #DCE1DA;
$color-quinary: #F2F4F1;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Poppins', sans-serif;