@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap");

@import './variables';
@import './mixins';
@import './default';

@import '../containers/Header/Header.scss';
@import '../components/Hero/Hero.scss';
@import '../components/About/About.scss';
@import '../components/Products/Products.scss';
@import '../components/FAQ/FAQ.scss';
@import '../containers/Contact/Contact.scss';
@import '../components/Footer/Footer.scss';

