.header__div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 1000;
    width: 100%;
    border-bottom: 0.1rem solid $color-secondary;
    border-bottom-width: 100%;
}

.header__img{
    margin: 3.3rem 0 3.3rem 10rem;
    @include breakpoint("desktop"){
        margin: 2.3rem 0 2.3rem 2rem;
        height: 2.5rem;
    }
    @include breakpoint("tablet"){
        margin: 2.3rem 0 2.3rem 2rem;
        height: 2.5rem;
    }
    @include breakpoint("mobile"){
        margin: 2.3rem 0 2.3rem 2rem;
        height: 1.5rem;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-right: 5.5rem;
    @include breakpoint("tablet"){
        margin-right: 0;
        padding-right: 5.5rem;
    }
    & li {
        margin-top: 2.2rem;
        font-size: 1.6rem;
        font-family: $font-primary;
        list-style-type: none;
        text-decoration: none;
        color: $color-primary;
        margin-right: 5.7rem;
        @include breakpoint("mobile"){
            font-size: 1rem;
            margin-right: 2.7rem;
            margin-top: 1.7rem;
        }
    }
    & a{
        color: $color-primary;
        text-decoration: none;
        &:visited{
            color: $color-primary;
        }
    }
}

.header__hr{
    @include header-hr;
}
