.header__div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 1000;
    width: 100%;
    border-bottom: 0.1rem solid $color-secondary;
    border-bottom-width: 100%;
}

.header__img{
    margin: 1rem 0 1rem 10rem;
    height: 9rem;
    @include breakpoint("desktop"){
        margin: 2.3rem 0 2.3rem 2rem;
        height: 2.5rem;
    }
    @include breakpoint("tablet"){
        margin: 2.3rem 0 2.3rem 2rem;
        height: 2.5rem;
    }
    @include breakpoint("mobile"){
        margin: 2.3rem 0 2.3rem 2rem;
        height: 1.5rem;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-right: 5.5rem;
    @include breakpoint("desktop"){
        margin: 0 0 0 9rem;
        padding-left: 5.5rem;
    }
    @include breakpoint("tablet"){
        margin: 0 0 0 9rem;
        margin-right: 3.5rem;
    }
    & li {
        margin-top: 2.2rem;
        font-size: 1.6rem;
        font-family: $font-primary;
        list-style-type: none;
        text-decoration: none;
        color: $color-primary;
        margin-right: 5.7rem;
        .btn-primary{
            padding: 0;
            font-size: 1.6rem;
            font-family: $font-primary;
            color: $color-primary;
            background-color: transparent;
            border-color: transparent;
            &.btn-primary.dropdown-toggle{
                background-color: transparent;
                border-color: transparent;
            }
            &.btn-primary.dropdown-toggle:focus{
                box-shadow:none;
            }
        }
        .dropdown-item{
            font-size: 1.5rem;
            background-color: transparent;
            border-color: transparent;
            color: $color-primary;
        }
        
        @include breakpoint("mobile"){
            font-size: 1rem;
            margin-right: 2.7rem;
            margin-top: 1.7rem;
        }
    }
    & a{
        color: $color-primary;
        text-decoration: none;
        &:visited{
            color: $color-primary;
        }
        &:hover{
            color: $color-secondary;
        }
    }
}

.header__hr{
    @include header-hr;
}
